sudo: required

language: java

services:
  - docker

before_install:
  - docker build -t green .

script:
  - docker run --name container green /bin/sh -c "ant; ant test -v"
  - docker logs -f container
